
	h1{
    	text-align:right;
    	color: #009099;
    	font-family: helvetica;
    }
	h2{

		text-align: left;
		margin-left: 4%;
    	color: #009099;
    	font-family: helvetica;
    }
    p{
    	color: #009099;
    	font-family: arial;
    	font-size: 105%;
    }
	body{
        background-image: url(my-music-background.gif);
        background-repeat: repeat;
        }
	
	.container{
    	border: 10px solid white;
        margin-left:10%;
        margin-right:10%;
        background-image: url(music-flower.jpg);
        background-repeat: repeat;

    }
    .header{
		background-color: #A8F0F0; 
		padding-top: 1px;
    }
    .rightcolumn{
    	float:right;
    	width: 71%;
    }
    .rightcolumn div{
    	border-radius: 15px;
    	background-color: #E8FBFB; 
    	border: 4px solid  #C2E9E9;
    	margin-bottom: 15px;
    }
    .rightcolumn img{
    	float:right;
    	clear:both;
    	width: 30%;
    }
    .rightcolumn div p{
    	margin-left: 2%;
    }
    .leftcolumn{
    	width: 25%;
    	border-radius: 15px;
    	background-color: #A8F0F0; 
    	border: 4px solid  #008D93;
    }
    .slogan{
    	text-align:right;
    }
    .link{
    	color: #017478;
    	font-weight: bold;
    }
    .date{
    	border-bottom: 2px dashed #01ABB3;
    }
    .clearfix::after{
    	content: ".";
    	visibility: hidden;
    	display: block; 
    	clear: both;
    }